@import "#{resource['fonts:fonts.css']}";

html, body {
    background: url("#{resource['images:mainBack.jpg']}") center no-repeat;
    background-color: #25466d;
    height: 100%;
    width: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.name {
    font-family: "Montserrat-Bold";
    color: #fdfbfc;
    margin-left: 13px;
    font-size: 55px;
    line-height: 1;
    text-decoration: none;
    transition: color 0.3s linear;
    position: absolute;
    top: 10px;
    left: 5px;
}

.name:hover {
    color: #1f76c7;
}

.input_zone {
    background: #ffffff;
    border: 3px #000000 solid;
    border-radius: 10px;
    width: 550px;
    height: 820px;
    position: absolute;
    top: 75px;
    left: 5px;
}

.screen_zone {
    background: #ffffff;
    border: 3px #000000 solid;
    border-radius: 10px;
    width: 550px;
    height: 550px;
    position: absolute;
    top: 5px;
    left: 0;
}

.result_zone {
    background: #ffffff;
    border: 3px #000000 solid;
    border-radius: 10px;
    width: 550px;
    height: 320px;
    position: absolute;
    top: 575px;
    left: 50px;
}

.student {
    text-align: center;
    font-size: 35px;
    position: relative;
    top: 913px;
    color: white;
    z-index: 0;
}

.input_zone__header {
    font-family: "Marck-Script-Regular";
    text-align: center;
    font-size: 250%;
    line-height: 100%;
}

.screen_zone__header {
    font-family: "Marck-Script-Regular";
    text-align: center;
    font-size: 250%;
    line-height: 100%;
}

.result_zone__header {
    font-family: "Marck-Script-Regular";
    text-align: center;
    font-size: 250%;
    line-height: 100%;
}

.input_zone > fieldset {
    font-family: "Marck-Script-Regular";
    font-size: 30px;
    background: #ffffff;
    border: 3px #000000 solid;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 110px;
}

.button__cfg {
    margin-top: 5%;
    margin-left: 7%;
    display: flex;
}

.button__cfg > button {
    font-family: "Montserrat-Bold";
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 0.6em;
    color: #000000;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn:hover, .btn:focus {
    color: #000000;
    outline: 0;
}

.submit {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.submit:hover {
    box-shadow: 0 0 40px 40px #1f76c7 inset;
}

.clear {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.clear:hover {
    box-shadow: 0 0 40px 40px #1f76c7 inset;
}

.x_button {
    position: relative;
    left: 15px;
    top: 5px;
    margin-left: 40px;
}

.x_button {
    font-family: "Marck-Script-Regular";
    font-size: 20px;
    position: relative;
    left: 15px;
    top: -3px;
    margin-left: 15px;
}

.y_inputText {
    width: 100px;
}

.r_button {
    font-family: "Marck-Script-Regular";
    font-size: 20px;
    position: relative;
    left: 15px;
    top: -3px;
    margin-left: 40px;
}

.eyes {
    position: relative;
    height: 80px;
    width: 400px;
    left: 75px;
    top: 20px;
}

#canvas {
    position: relative;
    left: 50px;
    top: 25px;
}

.result-content {
    position: relative;
    top: 8px;
    height: 100px;
}

.result-content-table table {
    width: 100%;
    table-layout: fixed;
    border: none;
}

.result-content-table thead th {
    font-weight: bold;
    text-align: center;
    border: none;
    padding: 10px 15px;
    background: #5a5c68;
    font-size: 14px;
    border-left: 1px solid #5a5c68;
    border-right: 1px solid #5a5c68;
}

.result-content-table tbody td {
    overflow: hidden;
    text-align: center;
    border-left: 1px solid #f3f4fc;
    border-right: 1px solid #f3f4fc;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

.result-content-table tbody tr:nth-child(even){
    background: #f3f4fc;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}