@font-face {
    font-family: "Montserrat-Bold";
    src: url("Montserrat-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Marck-Script-Regular";
    src: url("MarckScript-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}